p {
    font-size:14;
    color:black;
    font: "font: 15px Arial, sans-serif;"
}

p.speech {
    font: "font: 15px Arial, sans-serif;"
}

P.stage-direction{
    background-color: skyblue;
    margin-left:20px;

}

p.stage-direction:hover{
    background-color:yellow;
    color:red;
}

h5.LORD ILLINGWORTH{
     color: mediumblue;
     margin-left:10px;
}

h5.ARBUTHNOT{
    color: mediumblue;
    margin-left:10px;
}
table,td,th
{ 
    border: solid 1px ;
    text-align: center;
    width: 30%;
    color: black;
    padding: 10px;
    margin: 20px;
}

tr:nth-child(even) {
    background-color:#ccc;
  }
h5.ILLINGWORTH:hover{
    color: red;
    text-shadow:2px 3px 5px yellow;
    border: green;
    filter: blur(3px);
}
 h5.ARBUTHNOT:hover{
    color: green;
    text-shadow:2px 3px 5px yellow;
    border: blue;
    filter: blur(3px);

}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 10px;
    right: 30px;
    height: 305px;
    width: 350px;
}
ul.navbar-vertical a:hover{
    background-color: #555;color:red;
  }

.ico:before{
    content: '';
    background:url('sc4.jpg');
    background-size:cover;
    position:absolute;
    width:28px;
    height:18px;
    margin: 100px;px;
